@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            <ul>
                <li>@Html.ActionLink("Post a Task", "Create", "Chores")</li>
                <li>@Html.ActionLink("View My Tasks", "Index", "Chores")</li>
                <li>@Html.ActionLink("Tasks Due Today", "TasksDueToday", "Home")</li>
                <li>@Html.ActionLink("Todays's Complete", "CompletedTasksForToday", "Home")</li>
                <li>@Html.ActionLink("Incomplete Today", "IncompleteTasksForToday", "Home")</li>
                <li>@Html.ActionLink("All For Tomorrow", "AllTasksForTomorrow", "Home")</li>
                <li>@Html.ActionLink("Tomorrow's Complete","CompletedTasksForTomorrow","Home")</li>
                <li>@Html.ActionLink("Tomorrow's Incomplete", "IncompleteTasksForTomorrow", "Home")</li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
